{% extends "base.html" %}

{% block maincontent %}
<p>
You can sign up for our newsletter.
</p>
{% if form %}
<h1>Sign Up for our Newsletter</h1>
<div class="formwrapper">
  <h2 class="title">Contact</h2>
  <form method="POST" action="">
      {{ form.csrf_token() }}
      <div class="form-field">{{ form.name.label }} {{ form.name(size=20) }}</div>
      {{ form.submit }}
  </form>
</div>
{% endif %}

{% endblock %}